body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: monospace;
}

.titre {
    font-size: 36px;
    color: #008CBA;
    border-bottom: 2px solid gray;
    padding-bottom: 35px;
}

.datetitre {
    font-size: 14px;
    color: black;
}

#bleu {
    background-color: #008CBA;
    font-size: 18px;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 8px;
}

#vert {
    background-color: #4CAF50;
    font-size: 18px;
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 8px;

}

#noire {
    background-color: #555555;
    font-size: 18px;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 8px;
}

#botborder {
    border-bottom: 2px solid gray;
    padding-bottom: 25px;
}

.tableau {
    padding-top: 10px;
}


#table {
    border: 1px solid gray;
}

#rang {
    border: 1px solid gray;
    background-color: lightgray;
}

#un {
    border: 1px solid gray;
}
#jdg {
    padding: 5px;
}

#nom {
    width: 190px;
    text-align: center;
    border: 1px solid gray;
    background-color: lightgray;
}

#lien {
    width: 250px;
    text-align: center;
    border: 1px solid gray;
    background-color: lightgray;
}

#jdgborder {
    border: 1px solid gray;
}

#liencell1 {
    border: 1px solid gray;
}

#deux {
    border: 1px solid gray;
}

#zeratorborder {
    border: 1px solid gray;
}

#zerator {
    padding: 5px;
}

#liencell2 {
    border: 1px solid gray;
}

#trois {
    border: 1px solid gray;
}

#presseaborder {
    border: 1px solid gray;
}

#pressea {
    padding: 5px;
}

#liencell3 {
    border: 1px solid gray;
}

#cellfusionne {
    border: 1px solid gray;
    background-color: lightgray;
    width: 240px;
    text-align: center;
}


/* #sec1, #sec2, #sec3, #sec4 {
    border: 1px solid black;
}

#sec5, #sec6, #sec7, #sec8 {
    border: 1px solid gray;
    margin: 0;
}



#titrefond1, #titrefond2 {
    background-color: #4CAF50;
} */

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 1px; /* Réduit l'écart entre les éléments */
    justify-content: left;
}

.stat-item {
    border: 1px solid gray;
    width: calc(50% - 1px); /* Chaque élément prend 50% moins l'espacement */
    padding: 1px;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 0.5px; /* Réduit l'écart vertical entre les lignes */
}

.stat-titre {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 0px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 1px; /* Réduit l'écart entre le titre et le chiffre */
}

.stat-chiffre {
    display: block;
    font-size: 14px;
    font-family: monospace;
    margin-bottom: 1px;
    height: 2vh;
}


